$sticky-footer-height: 155px;

html, body, #application, .full-height, .full-height > div {
  height: 100%;
}

body {
  background-image: url("../images/admin-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-attachment: fixed;
  background-size: cover;
  font-weight: 300;
}

// $container-fluid-padding: 20px;

.container-fluid {
  width: 100%;

  @media (max-width: $screen-sm - 1) {
    > div {
      margin-left: -15px;
      margin-right: -15px;
    }

    .jumbotron {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}