.jumbotron {
  background-image: url('../images/three-pattern.png');
  background-repeat: repeat;
  background-position: 50% 50%;

  &, h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
  }

  &.inside-pane {
    
  }

  p {
    text-align: left;
    font-size: 18px;

    a, a:link {
      text-decoration: underline;
    }

    a, a:link, a:hover, a:focus, a:visited {
      color: #fff;
    }
  }

  @media(min-width: $screen-xs) {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}