.jumbotron {
  background-image: url('../images/three-pattern.png');
  background-repeat: repeat;
  background-position: 50% 50%;

  &, h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
  }

  &.inside-pane {
    
  }
}