ul.list-checkmark {
  list-style: none;
  padding-left: 2em;

  li {
    display: block;
    position: relative;

    &:before {
      left: -2em;
      position: absolute;
      content: '\f00c';
      font-family: 'exsupport';
      color: $brand-primary;
    }
  }
}

ul.list-downloads {
  list-style: none;
  padding-left: 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;

  li {
    display: block;
    position: relative;

    &:before {
      left: -2em;
      position: absolute;
      content: "\f019";
      font-family: 'exsupport';
      color: $brand-primary;
    }
  }
}