.shopify-pane {
  padding-top: 15px;
}

.shopify-pane-inner {
  background: $white;
  border-radius: $border-radius-base;
  padding-bottom: $padding-base-vertical;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}