h1, .h1 {
  
}

h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-transform: uppercase;
  color: $brand-primary;
}

h2, .h2 {
  margin-bottom: em(13px);

  &:after {
    content: "";
    width: 4em;
    height: 3px;
    margin-top: 0.6em;
    background: darken($gray-lighter, 10%);
    display: block;
  }
}

h3, .h3 {
  margin-bottom: em(13px);

  &:after {
    content: "";
    width: 3em;
    height: 2px;
    margin-top: 0.6em;
    background: darken($gray-lighter, 10%);
    display: block;
  }
}

h4, .h4 {
  color: $gray-light
}

h5, .h5 {
  color: $gray-light
}

h6, .h6 {
  color: $gray-light
}

.text-smaller {
  font-size: 85%;
}

.text-larger {
  font-size: 115%;
}

.badge {
  vertical-align: baseline;
}


input[type="checkbox"] {
  display:none;

  + label {
    font-weight: normal;
    margin-bottom: 1em;
    margin-top: 0.4em;

    &:before {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin: -2px 10px 0 0;
      vertical-align: top;
      background: transparent;
      border: 2px solid #999;
      cursor: pointer;
      content: '';
      padding: 0px;
      text-align: center;
      border-radius: 4px;
    }
  }
}

input[type="checkbox"]:checked + label:before {
  font-family: FontAwesome;
  content: "\f00c";
  color: $brand-primary;
}


